head {
    text-align:center;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    background: rgb(68, 51, 3);
    color:rgb(7, 7, 102);
    margin:15px;
}
body {
    text-align:center;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    background: rgb(68, 51, 3);
    color:rgb(34, 109, 59);
    margin:50px;
}
.darkbirbmovement{
    margin:0;
    justify-content:center;
    align-items:center;
    width: 200px;
    animation: movelikeacrab 3s ease-in-out infinite alternate;
}
@keyframes movelikeacrab {
    0%{transform:translateY(-150px);}
    50%{transform:translateY(150px);}
    100%{transform:translateY(-150px);}
}
.greenparrotmovement{
    margin:0;
    justify-content:center;
    align-items:center;
    width: 200px;
    animation: movelikeasadcrab 3s ease-in-out infinite alternate;
}
@keyframes movelikeasadcrab {
    0%{transform:translateY(150px);}
    50%{transform:translateY(-150px);}
    100%{transform:translateY(150px);}
}
.rainbowparrotmovement{
    position:absolute(center);
    margin:0;
    justify-content:center;
    align-items:center;
    width: 200px;
    animation: movelikeastrangecrab 3s ease-in-out infinite alternate;
}
@keyframes movelikeastrangecrab {
    0%{transform:translateY(-150px);}
    50%{transform:translateY(150px);}
    100%{transform:translateY(-150px);}
}
.whitebirbmovement{
    position:absolute(center);
    margin:0;
    justify-content:center;
    align-items:center;
    width: 200px;
    animation: movelikeastrangesadcrab 3s ease-in-out infinite alternate;
}
@keyframes movelikeastrangesadcrab {
    0%{transform:translateY(150px);}
    50%{transform:translateY(-150px);}
    100%{transform:translateY(150px);}
}