head {
    text-align:center;
    background: rgb(153, 255, 233);
    color:rgb(228, 198, 96);
    margin:15px;
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
}
div{
    text-align:center;
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
    background:none;
    color:rgb(25, 18, 61);
    border: solid 3px rgb(25,18,61);
    margin-left:250px;
    margin-right:250px;
    margin-top:-25px;
    padding:5px;
}
body {
    text-align:center;
    font-size: 25px;
    background-image:linear-gradient(45deg, rgb(255, 255, 255), rgb(122, 192, 243));
    color:rgb(228, 198, 96);
    margin:50px;
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
}
a {
    color:rgb(153, 255, 122);
}
.sancreek-regular {
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
}
.grid{
    display:grid;
    grid-template-areas:
    "a c"
    "b c"
    "d c";
    gap:10px;
    margin:35px;
    background-color:rgb(25, 18, 61);
}
.first{
    grid-area:a;
    background-color:cornflowerblue;
    color:rgb(25, 18, 61);
}
.second{
    grid-area:b;
    background-color:salmon;
    color:rgb(25, 18, 61);
}
.third{
    grid-area:c;
    background-color:yellowgreen;
    color:rgb(25, 18, 61);
}
.fourth{
    grid-area:d;
    background-color:indigo;
    color:rgb(25, 18, 61);
}
.box{
    padding:20px;
    justify-content:center;
    align-items:center;
    margin:0px;
    border:30px;
    border-color:rgb(25,18,61);
}
.flex-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
}
.item{
    background:rgb(25, 18, 61);
    padding:25px;
    color:rgb(228,198,96);
}